
<div id="booking">
    <!-- <div> -->
    <!-- <img src="https://www.zoomcar.com/img/bg-desktop.png" alt=""> -->
    <form id="form">
       
        <select  class="form-control" id="start" name="pickupLocation" [(ngModel)]="pickupLocation">
            <option value="">Pick Up Cites Airport,Hotel</option>
            <option  *ngFor="let item of locations" [value]="item.locationId" >{{item.title}}
            </option>
        </select>
        <select name="" class="form-control" id="start" name="toLocation" [(ngModel)]="toLocation">
            <option value="">Drop Off Cites Airport,Hotel</option>
            <option  *ngFor="let item of locations" [value]="item.locationId" >{{item.title}}
            </option>
        </select> 
        <!-- <p id="redDot"></p> -->
        <div><button id="primaryButton" type="submit" (click)="navigateToSearchPage()">FIND CARS</button></div>
    </form>
    <!-- <a href="./Filter/filter.html"></a> -->
    <!-- </div> -->
</div>
<div class="row">
    <div class="col-12 text-center">
        <h3>POPULAR CARS IN NAGPUR</h3>
    </div>
</div>

<div class="car-list-home-container">
    <div class="car-list-home">
            <div class="row">
               <div class="col-3" *ngFor="let car of pCars">
                <app-car-card [carData]="car"></app-car-card>
               </div>    
            </div>
    </div>
</div>