<nav class="navbar navbar-expand-lg navbar-secondary">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img id="logoSize" src="FINAL-LOGO_Color.png" alt="" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


      </ul>
    
      <form class="d-flex" *ngIf="loggedUserObj">
        <button class="btn btn-outline-primary round-button mx-2" type="button" (click)="loginModal()">{{loggedUserObj.emailId}}</button>
        <button class="btn btn-danger round-button" type="button" (click)="logOff()">LogOff</button>
      </form>

      <form class="d-flex" *ngIf="!loggedUserObj">
        <button class="btn btn-outline-primary round-button mx-2" type="button" (click)="loginModal()">Login</button>
        <button class="btn btn-success round-button" type="button" (click)="openModal()">Register</button>
      </form>
  
    </div>
  </div>
</nav>

<div class="container-fluid pt-3">
  <router-outlet></router-outlet>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registation</h5>

      </div>
      <div class="modal-body">

        <label>Name</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="formObj.name">


        <div class="row">
          <div class="col-6">
            <label>Email</label>
            <input class="form-control" type="text" name="emailId" [(ngModel)]="formObj.emailId">
          </div>
          <div class="col-6">
            <label>MobiNo</label>
            <input type="number" class="form-control" name="mobileNo" [(ngModel)]="formObj.mobileNo">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>WhoAre you</label>
            <select class="form-select" name="userRole" [(ngModel)]="formObj.userRole">
              <option>Select</option>
              <option>CarOwners</option>
              <option>Customer</option>
            </select>
          </div>
          <div class="col-6">
            <label>Password</label>
            <input type="text" class="form-control" name="password" [(ngModel)]="formObj.password"> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-warning" (click)="onReset()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Register</button>
       
      </div>
    </div>
  </div>
</div>


<div id="myModalLogin" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registation</h5>

      </div>
      <div class="modal-body">
        <label>email</label>
        <input class="form-control" name="emailId" [(ngModel)]="loginObj.emailId">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="loginObj.password" class="form-control">
       
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeLoginModal()">Close</button>
        <button type="button" class="btn btn-warning" (click)="onClear()">Clear</button>
        <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
       
      </div>
    </div>
  </div>
</div>
